// TODO define FS

// Import styles from file, prefix is optional
styles as s_ "./styles"

server () { }

// Optional: Extending styles
css ProjectStyles(styles) { }

// Client-side JavaScript (optional)
client {
    d.getElementById("root").
        innerHTML = div.someClass "Michal"
}

html {
    body
        // Use s_, s, or no prefix based on preference
        div.s_someClass "Michal"
        div#root
}
